NODE_ENV="production | test"

PORT=3000

FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://*****:******@db:5432/geotagger?schema=public

POSTGRES_USER=*******
POSTGRES_PASSWORD=******
POSTGRES_DB=geotagger

JWT_SECRET=********************************
JWT_REFRESH_SECRET=*****************************

AWS_REGION="*******"
AWS_ACCESS_KEY_ID="*******"
AWS_SECRET_ACCESS_KEY="*******"
AWS_S3_BUCKET_NAME="*******"

RESEND_API_KEY=*******
EMAIL='*******'

GOOGLE_CLIENT_ID="*******"
GOOGLE_CLIENT_SECRET="*******"
GOOGLE_CALLBACK_URL="http://*******/google/callback"

FB_APP_ID="*******"
FB_APP_SECRET="*******"
FB_CALLBACK_URL="http://*******/facebook/callback"